@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap');

:root {
    --blanco: #fff;
    --blanco-carta: #e4e4e4;
    --azul: #3475ca;
    --negro: #111;
    --azul-oscuro: #003764;
    --azul-service: #07182E;
    --naranja: #F88D2B;
    --gris: #3d4543;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--azul-service);
    overflow-x: hidden;
}

section {
    margin-top: 8rem;
}

.wrapper {
    position: relative;
    display: flex;
    left: 0;
    transition: 0.5s;
}

.servicios-bio {
    width: 100%;
    margin-left: 2rem;
    color: var(--naranja);
    font-size: 2rem;
}

.card-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem;
    padding: 2rem;
    top: 5rem;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    gap: 0.75rem;
}

.card {
    position: relative;
    overflow: hidden;
    display: flex;
    background: var(--blanco);
    margin: 1rem;
    width: 18.75rem;
    height: 12.5rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.3);
    transition: width 0.5s ease-in-out;
}

.card:hover {
    width: 100%;
}

.card-info {
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    width: calc(100% - 18.75rem);
    height: 100%;
    padding: 2rem;
    background-color: var(--blanco-carta);
    transition: left 0.5s ease-in-out;
}

.card:hover .card-info {
    display: flex;
    flex-direction: column;
    left: 18.75rem;
}

.card-info p {
    margin: 0;
    color: var(--gris);
    font-size: 1.5rem;
}

.card-info h3 {
    margin: 0;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.card .imgBx img {
    height: 100%;
    width: 11.25rem;
    object-fit: cover;
}

#muestra-liquida {
    scale: 1.2;
    height: 100%;
    width: 17.5rem;
    object-fit: cover;
}

.card-botton {
    border: none;
    background-color: var(--azul-oscuro);
    text-align: center;
    font-size: 0.85rem;
    color: var(--blanco);
    margin-top: 0.2rem;
    border-radius: 0.313rem;
    padding: 0.5rem;
    cursor: pointer;
}

.card-botton:hover {
    background-color: var(--azul-service);
    scale: 1.03;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: var(--blanco);
}

@media (max-width: 412px) {

    .wrapper {
        justify-content: center;
        align-items: center;
    }

    .card-section {
        margin: 0.5rem;
        padding: 1rem;
        top: 5rem;
    }

    .servicios-bio {
        margin-left: 0;
        font-size: 1.75rem;
        text-align: center;
    }

    .card-list {
        gap: 0.35em;
    }

    .card {
        display: flex;
        justify-content: center;
        margin: 0.75rem;
        flex-direction: column;
    }

    .card:hover {
        width: 100%;
    }

    .card-info {
        padding: 0.75rem;
    }

    .card:hover .card-info {
        left: 0;
        width: 100%;
    }
    
    .card-info h3 {
        font-size: 1.2rem;
        margin-bottom: 0.2rem;
        text-align: center;
    }

    .card-info p {
        font-size: 0.9rem;
        margin-bottom: 1rem;
        text-align: justify;
    }
    
    .card img {
        width: 100%;
        transition: 0.5s ease-in-out;
    }

    .card:hover img {
        width: 0;
    }

    .card-botton {
        border: none;
        background-color: var(--azul-oscuro);
        text-align: center;
        font-size: 0.85rem;
        color: var(--blanco);
        margin-top: 0.2rem;
        border-radius: 0.313rem;
        padding: 0.5rem;
    }

}
