@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #003764;
    overflow-x: hidden;
}

.wrapper {
    position: relative;
    display: flex;
    left: 0;
    transition: 0.5s;
}

header {
    background: #12222d;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 50px;
    z-index: 10000;
    transition: 0.5s;
}

header.sticky {
    padding: 0;
    background: #162c3b;
}

header .logo {
    color: #fff !important;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    width: 100%;
    font-weight: 700;
    letter-spacing: 1px;
}

header .logoImg {
    scale: 0.4;
    height: 100%;
    width: 150px;
    object-fit: cover;
}

header .toggle {
    position: relative;
    top: 0;
    left: 0;
    width: 20%;
    height: 50px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    padding: 1px 20px;
}

header .toggle::before {
    content: 'Menu';
    margin-right: 10px;
}

header .toggle.activate::before {
    content: 'Close';
}

header .toggle span {
    position: relative;
    width: 20px;
    height: 50px;
}

header .toggle span::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
}

header .toggle span::after {
    content: '';
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transition: 0.5s;
}

header .toggle.activate span::before {
    transform: rotate(225deg);
    top: 24px;
}

header .toggle.activate span::after {
    transform: rotate(135deg);
    top: 24px;
}

.sidebar {
    position: fixed;
    right: -400px;
    top: 0;
    width: 400px;
    height: 100%;
    background: #12222d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    transition: 0.5s;
}

.sidebar.active {
    right: 0px;
}

.sidebar ul {
    position: relative;
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    list-style: none;
    margin: 5px 0;
}

.sidebar ul li a {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    transition: 0.5s;
}

.sidebar ul li a:hover {
    color: #3f8ffc;
    font-size: 35px;
}

section {
    margin-top: 8em;
}

.servicios-bio {
    width: 100%;
    margin-left: 2em;
    color: #F88D2B;
    font-size: 2em;
}

.card-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1em;
    padding: 2em;
    top: 5em;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    gap: 0.75em;
}

.card {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: start;
    background: #fff;
    margin: 1em;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: width 0.5s ease-in-out;
}

.card:hover {
    width: 100%;
}

.card .imgBx img {
    height: 100%;
    width: 180px;
    object-fit: cover;
}

#muestra-liquida {
    scale: 1.2;
    height: 100%;
    width: 280px;
    object-fit: cover;
}

.card-info {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 100%;
    width: calc(100% - 300px);
    height: 100%;
    padding: 2em;
    background-color: #e4e4e4;
    transition: left 0.5s ease-in-out;
}

.card-botton {
    border: none;
    background-color: #003764;
    text-align: center;
    font-size: 0.85em;
    color: #fff;
    margin-top: 0.2em;
    border-radius: 5px;
    padding: 0.5em;
}

.card:hover .card-info {
    left: 300px;
}

.card-info h3,
.card-info p {
    margin: 0;
}

.card-info p {
    color: #3d4543;
    font-size: 1.5em !important;
}

.card-info h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.card-info p {
    font-size: 1em;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 375px) {

    .wrapper {
        justify-content: center;
        align-items: center;
    }

    header,
    header.sticky {
        padding: 0px 10px;
    }

    header .logo {
        font-size: 10px;
        font-weight: 500;
        letter-spacing: 1px;
        position: relative;
        left: -20px;
    }

    header .logoImg {
        position: relative;
        width: 120px;
        font-size: 10px;
        left: -15px;
    }

    header .toggle {
        padding: 0;
        font-size: 13px;
    }

    .card-section {
        margin: 0.5em;
        padding: 1em;
        top: 5em;
    }

    .servicios-bio {
        margin-left: 0;
        font-size: 1.75em;
        text-align: center;
    }

    .card-list {
        gap: 0.35em;
    }

    .card {
        justify-content: center;
        margin: 0.75em;
    }

    .card:hover {
        width: 100%;
    }

    .card-info {
        bottom: 100%;
        padding: 0.75em;
    }

    .card:hover .card-info {
        bottom: 300px;
    }

    .card-botton {
        border: none;
        background-color: #003764;
        text-align: center;
        font-size: 0.85em;
        color: #fff;
        margin-top: 0.2em;
        border-radius: 5px;
        padding: 0.5em;
    }

    .card-info p {
        color: #3d4543;
        font-size: 1.5em !important;
    }

    .card-info h3 {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }

    .card-info p {
        font-size: 1em;
    }

}
