@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap');

:root {
    --blanco: #fff;
    --blanco-carta: #e4e4e4;
    --azul: #3475ca;
    --negro: #111;
    --azul-oscuro: #003764;
    --azul-service: #07182E;
    --naranja: #F88D2B;
    --gris: #3d4543;
    --gris-oscuro: #333;
    --fondo-header: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--blanco);
}



/* --- Start of Header section --- */

.header {
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: height 0.3s ease;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    background: var(--fondo-header);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.header.scrolled {
    height: 4.4rem;
}

.logo {
    width: 50%;
}

.logo-image {
    padding: 0.8rem;
    margin-left: 3rem;
    width: 25%;
    height: auto;
    transition: 0.5s ease-in-out;
}

.logo-image:hover {
    margin-left: 2.5rem;
    width: 28%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-right: 3rem;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.2rem;
    height: 100%;
    width: 100%;
}

.nav-item {
    color: var(--gris-oscuro);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-item:hover {
    background: var(--azul);
    color: var(--blanco);
    cursor: pointer;
}

.nav-item a {
    text-align: center;
    width: 100%;
    text-decoration: none;
}

.nav-item:hover a {
    color: var(--blanco);
    font-size: 1.2rem;
}

/* Estilos adicionales para hacer el header responsive */
@media (max-width: 768px) {
    .header {
        height: 3rem;
    }

    .header.scrolled {
        height: 2.4rem;
    }

    .logo-image {
        width: 1.5rem;
    }

    .nav-list {
        flex-direction: row;
    }

    .nav-item {
        margin-right: 1rem;
        margin-bottom: 0;
    }
}


/* --- End of Header section --- */


.wrapper {
    position: relative;
    display: flex;
    left: 0;
    transition: 0.5s;
}

.servicios-bio {
    width: 100%;
    margin-left: 2rem;
    color: var(--naranja);
    font-size: 2rem;
}

.card-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem;
    margin-bottom: 3rem;
    padding: 2rem;
    top: 5rem;
}

.card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;
    width: 100%;
    gap: 0.75rem;
}

.card {
    position: relative;
    overflow: hidden;
    display: flex;
    background: var(--blanco);
    margin: 1rem;
    width: 18.75rem;
    height: 15rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.313rem 0.938rem rgba(0, 0, 0, 0.3);
    transition: width 0.5s ease-in-out;
}

.card:hover {
    width: 100%;
}

.card-info {
    position: absolute;
    display: none;
    top: 0;
    left: 100%;
    width: calc(100% - 18.75rem);
    height: 100%;
    padding: 2rem;
    background-color: var(--blanco-carta);
    transition: left 0.5s ease-in-out;
}

.card:hover .card-info {
    display: flex;
    flex-direction: column;
    left: 18.75rem;
}

.card-info p {
    margin: 0;
    color: var(--gris);
    font-size: 1.5rem;
    text-align: center;
}

.card-info h3 {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
    text-align: center;
}

.card .imgBx img {
    height: 100%;
    width: 11.25rem;
    object-fit: cover;
}

#muestra-liquida {
    scale: 1.2;
    height: 100%;
    width: 17.5rem;
    object-fit: cover;
}

.card-botton {
    border: none;
    background-color: var(--azul-oscuro);
    text-align: center;
    font-size: 1.1rem;
    color: var(--blanco);
    margin-top: 0.2rem;
    border-radius: 0.313rem;
    padding: 0.5rem;
    cursor: pointer;
}

.card-botton:hover {
    background-color: var(--azul-service);
    scale: 1.03;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
}


.footer {
    bottom: 0;
    margin-top: 3rem;
    position: relative;
    background: var(--azul-oscuro);
    padding: 1.25rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text {
    color: var(--blanco);
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    margin: 0 0.625rem;
}

.footer ul li a img {
    max-width: 1.25rem;
    filter: invert(1);
}

@media (max-width: 1050px) {

    .wrapper {
        justify-content: center;
        align-items: center;
    }

    .card-section {
        margin: 0.5rem;
        padding: 0.75rem;
        top: 2rem;
    }

    .servicios-bio {
        margin-left: 0;
        font-size: 2rem;
        text-align: center;
    }

    .card-list {
        gap: 0.3em;
    }

    .card {
        display: flex;
        justify-content: center;
        margin: 0.75rem;
        flex-direction: column;
    }

    .card-info {
        padding: 0.75rem;
    }

    .card:hover .card-info {
        width: 100%;
        padding: 0.3rem;
    }
    
    .card-info h3 {
        width: 70%;
        font-size: 1.4rem;
        margin-top: 0.5rem;
        text-align: center;
    }

    .card-info p {
        width: 70%;
        font-size: 1.2rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }
    
    .card img {
        width: 100%;
        transition: 0.5s ease-in-out;
    }

    .card:nth-child(1) img {
        height: 110%;
        width: 110%;
    }

    .card:hover img {
        width: 40%;
    }

    .card-botton {
        width: 60%;
        text-align: center;
        font-size: 1rem;
        margin-left: 3rem;
        padding: 0.5rem;
    }

}

@media (max-width: 900px) {

    .card:hover .card-info {
        width: 90%;
        left: 15rem;
        padding: 0.2rem;
    }

    .card:hover img {
        width: 50%;
    }

    .card-info h3 {
        margin-top: 0.3rem;
    }

    .card-info p {
        margin-top: 0.3rem;
    }

    .card-botton {
        font-size: 0.9rem;
        margin-left: 1.75rem;
    }

}

@media (max-width: 700px) {

    .servicios-bio {
        margin-bottom: 0.6rem;
    }

    .card {
        width: 22rem;
        margin: 0.5rem;
    }

    .card-info {
        padding: 0.75rem;
    }

    .card:hover .card-info {
        width: 90%;
        left: 14.5rem;
        padding: 0.2rem;
    }
    
    .card-info h3 {
        margin-top: 0.7rem;
    }

    .card-info p {
        font-size: 1rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    
    .card img {
        width: 100%;
        transition: 0.5s ease-in-out;
    }

    .card:nth-child(3) img {
        margin-left: 2.75rem;
    }

    .card:hover img {
        width: 40%;
    }

    .card-botton {
        font-size: 0.9rem;
        margin-left: 1.75rem;
    }

}

@media (max-width: 600px) and (min-width: 500px) {

    .card:hover .card-info {
        width: 100%;
        left: 0;
        padding-top: 0.75rem;
    }
    
    .card-info h3 {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .card-info p {
        width: 100%;
    }

    .card:hover img {
        width: 0;
    }

    .card-botton {
        width: 90%;
    }

}

@media (max-width: 499px) and (min-width: 200px) {
    
    .card:hover img {
        width: 0;
    }

    .card:hover .card-info {
        width: 100%;
        left: 0;
    }

    .card-info h3 {
        width: 100%;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .card-info p {
        width: 100%;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .card-botton {
        width: 85%;
        font-size: 0.85rem;
        margin-top: 0.1rem;
        padding-bottom: 0.2rem;
    }

}
