@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Roboto&display=swap');

:root {
    --blanco: #fff;
    --azul: #3475ca;
    --negro: #111;
    --gris-oscuro: #333;
    --azul-oscuro: #162c3b;
    --azul-service: #07182E;
    --fondo-header: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--blanco);
    height: 62.5rem;
}

section {
    margin-top: 2rem;
}

/* --- Start of Header section --- */

.header {
    height: 4.5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    transition: height 0.3s ease;
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    background: var(--fondo-header);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    height: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.header.scrolled {
    height: 4rem;
}

.logo {
    width: 50%;
}

.logo-image {
    padding: 0.8rem;
    margin-left: 3rem;
    width: 25%;
    height: auto;
    transition: 0.5s ease-in-out;
}

.logo-image:hover {
    margin-left: 2.5rem;
    width: 28%;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    margin-right: 3rem;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.2rem;
    height: 100%;
    width: 100%;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-item:hover {
    background: var(--azul);
    cursor: pointer;
}

.nav-item a {
    text-decoration: none;
    color: var(--gris-oscuro);
}

.nav-item:hover a {
    color: var(--blanco);
    font-size: 1.3rem;
}

/* Estilos adicionales para hacer el header responsive */
@media (max-width: 768px) {
    .header {
        height: 3rem;
    }

    .header.scrolled {
        height: 2.4rem;
    }

    .logo-image {
        width: 1.5rem;
    }

    .nav-list {
        flex-direction: row;
    }

    .nav-item {
        margin-right: 1rem;
        margin-bottom: 0;
    }
}


/* --- End of Header section --- */

.wrapper {
    position: relative;
    transition: 0.5s;
    left: 0;
    top: 4.5rem;
}

.wrapper.active {
    left: -25rem;
}

.banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}

.banner img {
    display: none;
}

.banner img.active {
    display: flex;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.banner .content {
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.banner:hover .content {
    opacity: 1;
    position: relative;
    max-width: 59.375rem;
    text-align: center;
}


.banner .content h2 {
    font-size: 3.75rem;
    color: var(--blanco);
}

.banner .content p {
    color: var(--blanco);
}

.kits {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--azul);
    width: 100%;
    height: 20vh;
}

.kits-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: var(--blanco);
    display: flex;
}

.kits-section .kits-title {
    width: 100%;
}

.kits-section .contentBx {
    display: flex;
    flex-direction: column;
    background: var(--blanco);
    padding: 3.75rem;
    width: 100%;
}

.kits-section .contentBx .heading {
    width: 100%;
}

.kits-section .contentBx .kits-description {
    display: flex;
    justify-content: center;
    align-items: center;
}

.kits-section .imgBx {
    position: relative;
    width: 50%;
}

.kits-section .contentBx .imgBx {
    position: relative;
    width: 100%;
    height: 18.75rem;
}

.kits-section .contentBx .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kits-section .contentBx .content h2 {
    position: relative;
    font-size: 1.125rem;
    line-height: 1.2rem;
}

.kits-section .contentBx p {
    margin-top: 0.625rem;
    font-size: 1.125rem;
    color: var(--blanco);
}

.about {
    position: relative;
    width: 100%;
    background: var(--blanco);
    display: flex;
}

.about .contentBx {
    background: var(--blanco);
    padding: 3.75rem;
    width: 50%;
}

.heading {
    position: relative;
    color: var(--azul-oscuro);
    font-size: 1.875rem;
    font-weight: 600;
    letter-spacing: 0.0625rem;
    margin-bottom: 0.625rem;
}

.text {
    text-align: justify;
    position: relative;
    color: var(--azul-oscuro);
    font-size: 1rem;
    font-weight: 300;
}

.about .imgBx {
    position: relative;
    width: 50%;
    background: url(img/window.jpg);
    background-size: cover;
    background-position: center;
}

.services {
    position: relative;
    background: var(--blanco);
    text-align: center;
    padding: 6.25rem;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 3.75rem;
}

.container .servicesBx {
    position: relative;
    background: var(--blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21.875rem;
    height: 25rem;
    border-radius: 1.25rem;
    z-index: 500;
    border: 0.125rem solid transparent;
    transition: all 0.5s ease;
    margin-bottom: 0.75rem;
}

.container .servicesBx:hover {
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    background: var(--azul-oscuro);
    color: var(--blanco);
    transition-delay: 0s;
    border-radius: 1.25rem;
    scale: 1.01;
}

.container .servicesBx:hover::after {
    content: '';
    position: absolute;
    width: 21.875rem;
    height: 25rem;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
    z-index: -3;
}

.container .servicesBx:hover::before {
    content: '';
    position: absolute;
    background: var(--azul-service);
    inset: 0.3125rem;
    border-radius: 0.9375rem;
    z-index: -2;
}

@keyframes rotBGimg {
    from {
        transform: rotate(0deg);
        width: 37.5rem;
        height: 37.5rem;
    }

    to {
        transform: rotate(360deg);
        width: 37.5rem;
        height: 37.5rem;
    }
}

.container .servicesBx img {
    max-width: 6.25rem;
}

.container .servicesBx h2 {
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: 0.0625rem;
}

.team {
    position: relative;
    padding: 0 3.125rem 3.125rem;
    text-align: center;
}

.team .container {
    margin-top: 1.875rem;
}

.team .teamBx {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.875rem;
    justify-content: center;
    transition: 0.5s;
}

.team .teamBx:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.team .teamBx .box {
    margin: 0 0.625rem;
    width: 16.25rem;
    padding: 0.3125rem;
    background: var(--blanco);
}

.team .teamBx .box .imgBx {
    position: relative;
    width: 100%;
    height: 18.75rem;
}

.team .teamBx .box .imgBx img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team .teamBx .box .content {
    padding: 0.9375rem 0;
}

.team .teamBx .box .content h2 {
    position: relative;
    font-size: 1.125rem;
    line-height: 1.2rem;
}

.team .teamBx .box .content h2 span {
    position: relative;
    font-size: 0.9375rem;
    font-weight: 300;
}

.contact {
    position: relative;
    padding: 3.125rem;
    text-align: center;
    background: var(--blanco);
}

.information {
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
    background: var(--blanco);
    width: 100%;
    margin-bottom: 1rem;
}

.information .imgBx2 {
    position: relative;
    width: 50%;
    background: url(img/bg2.jpg);
    background-size: cover;
    background-position: center;
}

.redBg {
    background: url(img/red.jpg) !important;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

.form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.625rem;
}

.form .inputBx {
    margin-bottom: 2.5rem;
}

.form .inputBx input {
    width: 80%;
    margin-left: 1.5em;
    margin-top: 0.75em;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 0.625rem 0;
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--blanco);
    border-bottom: 0.125rem solid var(--blanco);
}

.form .inputBx input::placeholder,
.form .inputBx textarea::placeholder {
    color: var(--blanco);
}

.form .inputBx textarea {
    width: 80%;
    margin-left: 1.5em;
    margin-top: 0.75em;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    padding: 0.625rem 0;
    font-size: 1.125rem;
    font-weight: 300;
    color: var(--blanco);
    min-height: 12.5rem;
    border-bottom: 0.125rem solid var(--blanco);
}

.form .inputBx input[type="submit"] {
    width: 9.375rem;
    background: var(--blanco);
    color: var(--negro);
    cursor: pointer;
    font-weight: 400;
}

.footer {
    position: relative;
    background: var(--azul-oscuro);
    padding: 1.25rem 6.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .text {
    color: var(--blanco);
}

.footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer ul li {
    list-style: none;
}

.footer ul li a {
    text-decoration: none;
    margin: 0 0.625rem;
}

.footer ul li a img {
    max-width: 1.25rem;
    filter: invert(1);
}

.slider-controls {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.prev-slide,
.next-slide {
    color: var(--blanco);
    border: none;
    cursor: pointer;
    text-align: center;
    line-height: 50%;
    border-radius: 50%;
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(51, 51, 51, 0.75);
    transition: opacity 0.2s ease-in-out;
}

.prev-slide:hover,
.next-slide:hover {
    opacity: 1;
}

.prev-slide {
    margin-right: 1rem;
}

.dots-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dot {
    background-color: rgba(51, 51, 51, 0.75);
    border-radius: 50%;
    width: 0.625rem;
    height: 0.625rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.dot.active {
    background-color: var(--blanco);
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: var(--negro);
}

@media (max-width: 991px) {

    .sidebar ul li a {
        font-size: 1.5rem;
    }

    .banner {
        padding: 3.125rem;
    }

    .banner .content h2 {
        font-size: 2.25rem;
    }

    .banner .content p {
        font-size: 1rem;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx {
        padding: 1.875rem;
        width: 100%;
    }

    .about .imgBx {
        min-height: 25rem;
        width: 100%;
    }

    .services {
        padding: 3.125rem;
    }

    .container {
        justify-content: center;
        margin-top: 1.25rem;
    }

    .container .servicesBx {
        width: 18.75rem;
        height: 18.75rem;
        margin: 1.25rem;
    }

    .technology {
        padding: 3.125rem;
        padding-top: 18.75rem;
        margin-top: -18.75rem;
        justify-content: center;
        flex-direction: column;
    }

    .technology .imgBx {
        margin-top: 2.5rem;
    }

    .client {
        padding: 3.125rem;
    }

    .client .imgBx {
        justify-content: center;
    }

    .testimonial {
        padding: 3.125rem;
    }

    .testimonial .container {
        margin: 0;
    }

    .testimonial .container .contentBx {
        padding: 2.5rem 1.875rem;
    }

    .team {
        padding: 0 3.125rem 3.125rem;
    }

    .team .teamBx {
        width: 50%;
    }

    .contact {
        padding: 3.125rem;
    }

    .footer {
        padding: 1.25rem 3.125rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer p {
        text-align: center;
    }

    .footer ul {
        margin-top: 1.25rem;
        font-size: 0.75rem;
    }
}

@media (max-width: 412px) {

    .banner {
        padding: 3.125rem;
    }

    .banner .content h2 {
        font-size: 2.25rem;
    }

    .banner .content p {
        font-size: 1rem;
    }

    .about {
        flex-direction: column;
    }

    .about .contentBx {
        padding: 1.875rem;
        width: 100%;
    }

    .about .imgBx {
        min-height: 25rem;
        width: 100%;
    }

    .services {
        padding: 3.125rem;
    }

    .container {
        justify-content: center;
        margin-top: 1.25rem;
    }

    .container .servicesBx {
        width: 18.75rem;
        height: 18.75rem;
        margin: 1.25rem;
    }

    .technology {
        padding: 3.125rem;
        padding-top: 18.75rem;
        margin-top: -18.75rem;
        justify-content: center;
        flex-direction: column;
    }

    .technology .imgBx {
        margin-top: 2.5rem;
    }

    .client {
        padding: 3.125rem;
    }

    .client .imgBx {
        justify-content: center;
    }

    .testimonial {
        padding: 3.125rem;
    }

    .testimonial .container {
        margin: 0;
    }

    .testimonial .container .contentBx {
        padding: 2.5rem 1.875rem;
    }

    .team {
        padding: 0 3.125rem 3.125rem;
    }

    .team .teamBx {
        width: 100%;
    }

    .information {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .information .form {
        width: 100%;
    }

    .form .inputBx {
        position: relative;
        margin: auto;
    }

    .redBg {
        position: relative;
        margin: auto;
        width: 90%;
        border-radius: 0.3125rem;
        opacity: 0.8;
    }

    .redBg:hover {
        opacity: 1;
    }

    .information .form #enviar {
        position: relative;
        margin: auto;
    }

    .form .inputBx textarea {
        margin-bottom: 0.75em;
        padding: 0;
        min-height: 7.5rem;
    }

    .information .imgBx2 {
        display: none;
    }

    .contact {
        padding: 3.125rem;
    }

    .footer {
        padding: 1.25rem 3.125rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer p {
        text-align: center;
    }

    .footer ul {
        margin-top: 1.25rem;
        font-size: 0.75rem;
    }

    .footer .text {
        width: 95%;
        padding: 0.0625rem 0.3125rem;
        font-size: 0.75em;
    }
}